{% extends "layout.html" %}

{% block title %} Skills page {% endblock %}

{% block content %}
<h1 class= "text-center">My profeciency</h1>

<div class="d-flex flex-wrap gap-3 justify-content-center"> 

  {% for skill in skills %}  
  <div class="" style="width: 18rem;">
    <img src="{{ skill.image.url }}" class="img-fluid" alt="{{ skill.title }}">
    <div class="card-body">
      <h5 class="card-title, text-center">{{ skill.title }}</h5>
      <p class="card-text, text-center">{{ skill.description }}</p>  
    </div>
    {% if skill.user == user %}
    <a href="{% url 'edit_skill' skill.id %}" class="btn btn-primary">Edit</a>
    <a href="{% url 'delete_skill' skill.id %}" class="btn btn-danger">Delete</a>
    {% endif %}
  </div>
  {% endfor %}  

</div>
<div class="mt-auto p-3 justify-content-center " style="width: 18rem;">
    <a href="{% url 'add_skill' %}" class="btn btn-outline-success">
    Add a skill
</a>
{% endblock  %}